.movie-detail-content {
  padding: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie-detail-poster {
  width: 300px;
  border-radius: 20px;
}

.content-detail {
  padding: 0 40px;
}

.l-header {
  font-size: 3rem;
  font-weight: bold;
}

.genres-description{
  display: inline-block;
  border: 0px solid transparent;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #e8e8e8;
  color: rgba(0,0,0,.6);
  line-height: 1;
  font-weight: bold;
  margin-bottom: 20px;
  margin-right: 10px;
}

.genres-description p {
  font-size: 1.1rem;
}

.movie-description {
  font-size: 1.2rem;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  .movie-detail-poster {
    width: 300px;
    border-radius: 20px;
  }

  .l-header {
    font-size: 2.2rem;
    text-align: center;
  }
}