.now-card {
  padding: 40px;
  transition:all 0.5s ease;
  /* width: 30%; */
  cursor: pointer;
}

.now-card:hover {
  transform:scale(1.1);
}

.now-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-header {
  padding: 40px;
}

.content h3 {
  text-align:justify;
}

.now-header {
  text-align: center;
  font-size: 3rem;
  color: #000;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.pagination {
  display: flex;
  justify-content:center;
  margin: 40px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  .pagination {
    display: flex;
    flex-wrap: wrap;
  }

  .btn-back {
    margin: 20px 0;
  }
}