.container {
  /* background: url('/img/cinema.png'); */
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
  text-align: center;
  padding: 60px;
}

.btn-group {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}