* {
	box-sizing: border-box;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
  text-align: center;
	padding: 60px;
	color: #cbffe8;
	text-shadow: 
    0 0 5px rgb(160, 54, 163),
    0 0 10px rgb(160, 54, 163),
    0 0 20px rgb(160, 54, 163),
    0 0 40px rgb(160, 54, 163),
    0 0 80px rgb(160, 54, 163),
    0 0 90px rgb(160, 54, 163),
    0 0 100px rgb(160, 54, 163);
	font-size: 4rem !important;
}

.cinema-bg {
	position: absolute;
	top: 0%;
	width: 100vw;
	height: 100vh;
}

.home-content {
	position: absolute;
	top: 30%;
}

.group-btn {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.h3-landing {
  font-family: "Open Sans";
  font-weight: 300;
  font-size:1.5em;
  margin: 15px 0 0;
  color: rgba(120, 0, 50, .5);
}

.btn-landing {
	text-align: center;
  border-radius: 8px;
  border: 3px solid rgb(0, 40, 70);
	cursor: pointer;
	padding: 5px 15px;
}

.btn-landing:hover {
	animation: border-flicker 2s linear forwards;
}

.btn-landing:hover .h3-landing {
  animation: text-flicker 2s linear forwards;
}

@keyframes text-flicker {
  2% { 
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  3% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  6% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  9% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  11% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  14% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  18% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  32% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  33% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  37% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  39% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  43% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  46% {
    color: rgba(120, 0, 50, .5);
    text-shadow: none;
  }
  47% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
  100% {
    color: rgb(230, 0, 120);
    text-shadow: 0 0 15px rgb(230, 0, 120);
  }
}