.upcoming-card {
  padding: 40px;
  transition:all 0.5s ease;
  /* width: 30%; */
  cursor: pointer;
}

.upcoming-card:hover {
  transform:scale(1.1);
}

.upcoming-card {
  padding: 40px;
  transition:all 0.5s ease;
  /* width: 30%; */
  cursor: pointer;
}

.upcoming-card:hover {
  transform:scale(1.1);
}

.upcoming-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title-header {
  padding: 40px;
}

.content h3 {
  text-align:justify;
}

.upcoming-header {
  text-align: center;
}

.pagination {
  display: flex;
  justify-content:center;
  margin: 40px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  .pagination {
    display: flex;
    flex-wrap: wrap;
  }

  .btn-back {
    margin: 20px 0;
  }
}