.rated-card {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 40px 40px;
  transition:all 0.5s ease;
  width: 30%;
}

.rated-card:hover {
  transform:scale(1.1);
}

.movie-poster {
  width: 280px;
  border-radius: 10px;
}

.movie-poster:hover {
  box-shadow: 0 0 10px;
}

.content {
  text-transform: capitalize;
}

.content h3{
  padding-bottom: 10px;
}

.rating {
  padding-bottom: 10px;
}

.l-heading {
  margin-bottom: 40px;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
  .rated-card {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 15px;
    width: auto;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)  { 
  .rated-card {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    width: 50%;
  }
}
