.search-div {
  display: flex;
  justify-content: space-evenly;
}

.input-search {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:600px;
    border:none;
    border-bottom:1px solid #fff;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
}

input:focus { outline:none; }

.btn {
  padding: 10px 15px;
  margin-left: 15px;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: black;
   color: white;
}